header {
    background-color: blueviolet;
    color: white;
}

body {
    background-color: black;
    color: white;
}

footer {
    background-color: blue;
    color: lightskyblue;
}

.imagem-2 {
    width: 40%;
    align-items: center;
    margin-left: 200px;
}